<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h4>
    <%= link_to "I am a doctor", new_doctor_session_path %>
</h4>

<h4>
    <%= link_to "I am a patient", new_user_session_path %>
</h4>
