<h1>Appointments#new</h1>
<p>Find me in app/views/appointments/new.html.erb</p>

<%= simple_form_for [ current_user, @appointment ] do |f| %>
    <%= f.hidden_field :doctor_id, value: @doctor.id %>
    <%= f.input :date %>
    <%= f.submit %>
<% end %>
